.gradients{
   
    background: linear-gradient(to right, #80a4df, #bb87eb, #f187bc); /* Gradient background */
    /* padding: 2px;   */
    /* Padding to make space for the border effect */ 
    /* border-radius: 0.65rem; */
}

/* for chrome */
/* .scrollable-container::-webkit-scrollbar {
    display: none;
  } */
  
  .scrollable-container {
    scrollbar-width: none;
  }
  
  /* .scrollable-container {
    -ms-overflow-style: none;
  } */
  